<h1>destination show page</h1>
<h4>Five most recent posts about: <%= "#{@destination.name}" %></h4>
<% five_most_recent_posts = @destination.posts.last(5) %>
<% five_most_recent_posts.each do |post| %>
<h4><%= link_to post.title, post_path(post) %></h4>
<% end %>
<br><br>
<h4>Featured post:
<% @destination.posts.max_by(1) do |post| %>
<% post.likes %>
<% @featured_post = post.title %>
<% @featured_id = post.id %>
<% end %>
<%= link_to @featured_post, post_path(@featured_id) %>
</h4>
<br><br>

<h4>Average Blogger Age: <%= @destination.average_blogger_age %></h4>


